.m2 {
    --w: 500px;
    width: var(--w);
    height: var(--w);
    background: url(../image/pexels-life-of-pix-7919.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    border: 3.5px solid #010101;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
}

.m2:hover {
    animation: re 2s infinite linear;
}

@keyframes re {
    0% {
        box-shadow: 20px 20px 18px #0b0bb8ad;
    }

    25% {
        box-shadow: 20px -20px 18px #e40808c2;

    }

    50% {
        box-shadow: -20px -20px 18px #dbc71199;
    }

    75% {
        box-shadow: -20px 20px 18px #1cb51492;
    }

    100% {
        box-shadow: 20px 20px 18px #0ce2d08b;
    }
}

.ss {
    margin: 20px;
    color: #174ab1;
}